.carusel_car_img{
  width: 100%;
  height:700px;
  margin: 0 auto;
}

.carusel{
  background-color: #000;
  padding: 100px 0;
}

.card-img{
  width: 70%;
  object-fit: cover;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
/* .carusel-bg{
  background: #000 !important;
  height: 20%;
} */
.carusel-info-title{
  color: goldenrod;
  font-size: 16px;
  font-weight: bold;
  background-color: #00002b;
  
}
@media screen and (max-width: 600px){
  .carusel_car_img{
    height: auto;
  }
}